/* Begin 顶部菜单 */
.elementor-editor-preview #elementor-editor-wrapper-v2 header {
    position: absolute;
    top: -48px;
}

#elementor-editor-wrapper-v2 header {
    transition: all .5s ease-in-out;
}

/* #elementor-editor-wrapper-v2 header {
    background: #4481eb;
} */

.elementor-editor-preview #elementor-editor-wrapper {
    height: 100vh;
}

#elementor-panel-get-pro-elements {
    display: none !important;
}

/* End 顶部菜单 */

/* Begin 全局颜色&字体 */
.e-global__preview-items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.e-global__preview-item .e-global__color-preview-container {
    margin-inline-end: 0
}

.e-global__preview-item.e-global__color {
    position: relative;
    padding: 10px 10px 13px 10px;
    justify-content: center;
    flex-direction: column;
}

.e-global__preview-item .e-global__color-title {
    text-align: center;
    display: block;
    width: 100%;
    padding-inline-end: 0
}

.e-global__preview-item .e-global__color-hex {
    text-align: center;
    display: block;
    width: 100%;
}

.e-global__preview-item .e-global__typography {
    padding-inline: 10px;
    text-align: center;
}

/* End 全局颜色&字体 */

.elepm-note {
    color: #818a96;
    font-size: 11px;
    font-style: italic;
    line-height: 1.4;
}

.elepm-note a {
    color: #818a96;
}

.elepm-note a:hover {
    color: #818a96;
}

.elementor-control-elepm_section_style .elementor-section-title {
    font-weight: 900;
    background: -webkit-linear-gradient(45deg, #faad14, #a0d911);
    /* Chrome, Safari */
    background: linear-gradient(45deg, #faad14, #a0d911);
    /* 标准语法 */
    -webkit-background-clip: text;
    /* Chrome, Safari */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Chrome, Safari */
    color: transparent;
    /* 其他浏览器 */
}

.elementor-control-elepm_section_style .elementor-section-toggle {
    color: #faad14;
}