:root{
    --e-p-draggable-color: #0083d4;
    --e-p-border-section: #02a1f9;
    --e-p-border-section-hover: #0083d4;
    --e-p-border-con:	#02a1f9;
    --e-p-border-con-hover:	#0083d4;
    --e-p-border-widget:	#02a1f9;
    --e-p-border-widget-hover:	#0083d4;
}